<h2>Graph Your Data</h2>
<% if @error %>
  <p class=error><strong>Error:</strong> <%= @error %>
<% end %>

<form method='post' action='/plot'>
  <label for="column1">Choose label 1:</label>
  <select name="column1" id="column1">
  <% @labels.each do |l| %>
    <option value="<%= l %>"><%= l %></option>
  <% end %>
  </select>

  <label for="column2">Choose label 2:</label>
  <select name="column2" id="column2">
  <% @labels.each do |l| %>
    <option value="<%= l %>"><%= l %></option>
  <% end %>
  </select>

  <label for="plot_type">Plot Type:</label>
  <select name="plot_type" id="plot_type">
    <option value="scatter">Scatter Plot</option>
    <option value="line">Line Graph</option>
    <option value="bar">Bar Chart</option>
  </select>

  <input type='submit' value="Create Chart from Labels" />
</form>

<div style="display:flex; justify-content: center; margin-top: 1rem">OR</div>

<form method='post' action='/plot' style="display: flex; flex-direction: column">
  <input type="text" name="query" id="query" placeholder="Type your query: Scatter plot between column X and Y..."></input>
  <input type='submit' value="Create Chart from Query" />
</form>

<% if @chart_data %>
<div id="chart_div">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <canvas id="myChart" width="400" height="400"></canvas>

  <% if @plot_type == 'scatter' %>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');

      const data = {
        datasets: [{
          label: 'Scatter Plot',
          data: <%= @chart_data.html_safe %>,
          pointRadius: 3,
          pointHoverRadius: 5,
          fill: false,
          tension: 0,
          showLine: false,
          backgroundColor: 'rgb(255, 99, 132)'
        }],
      };

      let chart = new Chart(ctx, {
        type: 'scatter',
        data: data,
        options: {
          scales: {
            x: {
              type: 'linear',
              position: 'bottom'
            },
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: '<%= @col1 %>'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: '<%= @col2 %>'
              }
            }]
          }
        }
      });
    </script>
  <% end %>

  <% if @plot_type == 'line' %>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
  
      const data = {
        labels: <%= @chart_labels %>,
        datasets: [
          <% JSON.parse(@chart_data).each do |k, v| %>
            {
              label: '<%= k %>', 
              data: <%= v %>,
              showLine: true,
              borderColor: '<%= (k == @col1) ? 'blue' : 'red' %>'
            },
          <% end %>
        ],
      };
  
      let chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
          }
        }
      });
    </script>
  <% end %>

  <% if @plot_type == 'bar' %>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
  
      const data = {
        datasets: [{
          label: 'Bar Chart',
          data: <%= @chart_data.html_safe %>,
          backgroundColor: 'rgb(255, 99, 132)'
        }],
      };
  
      let chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
          scales: {
            x: {
              type: "category",
              categoryPercentage: .8,
              barPercentage: .9,
              gridLines: {
                offsetGridLines: !0
              }
            },
            y: {
              type: "linear"
            },
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: '<%= @col1 %>'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: '<%= @col2 %>'
              }
            }]
          }
        }
      });
    </script>
  <% end %>
</div>

  <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <button onclick="myFunction()">Copy & Paste this code anywhere</button>
    <textarea id="code_to_copy"  style="width:-webkit-fill-available" rows="20" ></textarea>
  </div>

  <script>
    getCodeAsText()

    function getCodeAsText(){
      var element = document.getElementById('chart_div');
      var codeAsText = element.innerHTML;
      codeAsText = codeAsText.replace(';', ';\n');
      document.getElementById('code_to_copy').value = codeAsText;
    }

    function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("code_to_copy");

      /* Select the text field */
      copyText.select(); 
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

      /* Alert the copied text */
      alert("Copied code successfully!")
    }
  </script>
<% end %>