<!DOCTYPE html>
<html>
  <head>
    <title>VISaaS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=page>
      <div class=icon>
        <a href="/">
          <h1>ViSaaS</h1>
        </a>
      </div>
      <div class=metanav>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
